.contact-div {
  background-color: rgb(158, 179, 132);
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.email {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border-color: black;
}

.msg {
  width: 95%;
  height: 100px;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
  border-color: black;
}

.contact-div p {
  margin-bottom: 2px;
}

.submit-form {
  width: 100%;
  background-color: rgb(250, 241, 228);
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(158, 179, 132);
  font-weight: bold;
  cursor: pointer;
}

li {
  list-style: none;
}
