/* General Styles */
body {
  font-family: "Source Sans 3", sans-serif;
}

/* Anchor Tags */
a {
  color: black;
}

a:visited {
  color: black;
}

/* Classes */
.bottom-hide {
  background-color: rgb(250, 241, 228);
  bottom: 0;
  height: 200px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

.contact-links {
  margin-bottom: -1px;
  margin-top: 15px;
}

.highlight {
  color: rgb(158, 179, 132);
}

.highlight:hover {
  color: #cedebd;
}

.jira-svg, .mysql-svg {
  height: 24px;
  width: 24px;
}

.main {
  background-color: rgb(250, 241, 228);
  font-family: "Source Sans 3", sans-serif;
  min-height: 100vh;
  padding-top: 200px;
}

.profile-frame {
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .8);
  height: 350px;
  overflow: hidden;
  width: 350px;
}

.profile-image {
  display: block;
  height: auto;
  width: 116%;
  margin: -31px
}

.profile-image.contact {
  display: block;
  height: auto;
  margin: -66px;
  width: 130%;
}

.profile-image:hover {
  content: 'Test';
  filter: blur(.75px);
}

.project-image {
  height: auto;
  width: 200px;
}

.skill {
  display: flex;
  flex-direction: row;
}

.skill.tools {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}

.welcome-name {
  display: inline-table;
}

/* Elements */
h1 {
  font-size: 48px;
  margin-bottom: 45px;
}

h2 {
  font-size: 36px;
}

.h2-tools {
  font-size: 36px;
  margin-left: 25px;
}

p {
  font-size: 24px;
}

ul {
  margin: auto;
}

.ul-tools{
  margin-right: 12px;
}

/* ID Selectors */
#welcome {
  padding-top: 100px;
}

/* Section */
section {
  align-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  place-items: center;
}
