section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

a{
  color: black;
}

a:visited{
color:black ;
}

.background-color{
  background-color: #7c7c7c;
}

.profile-frame{
  width: 350px;
  height: 350px;
  border-radius: 50%; 
  overflow: hidden; 
}

.profile-image{
  width: 100%;
  height: auto; 
  display: block;
}

.highlight {
  color: rgb(0, 255, 55);
}